@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  background-color: #27262b;
  color: #fff;
}

img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.bg-brow {
  background-color: #2b2a31;
}

.container {
  max-width: 1400px;
  padding: 0 10px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.title-h3 {
  color: #d4cb92;
  font-size: 16px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.title-h2 {
  font-size: 37px;
  font-weight: 700;
}

.title-p {
  line-height: 25px;
  font-weight: 300;
}

header {
  background-color: #2b2a31;
}

.header {
  padding: 20px 10px;
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}
.header-logo {
  gap: 15px;
}
.header-logo-img img {
  width: 65px;
}
.header-logo p {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 3px;
  font-family: "Dancing Script", cursive;
}
.header-contact {
  gap: 15px;
}
.header-contact-img img {
  width: 20px;
}
.header-contact p {
  font-size: 20px;
  font-weight: 800px;
  letter-spacing: 2px;
}

.banner {
  background-color: #2b2a31;
  background: url("../asset/img/1.png") no-repeat right top;
  width: 100%;
  height: 900px;
  position: relative;
  border-radius: 3px;
}
.banner .elementor-background-overlay {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: linear-gradient(90deg, #2b2a31 30%, rgba(0, 0, 0, 0.431372549) 30%);
  opacity: 1;
}
.banner-main {
  padding-top: 30vh;
  position: relative;
  z-index: 2;
}
.banner-main-text h1 {
  margin-top: 10px;
  font-size: 80px;
  font-weight: 800;
}
.banner-main-text p {
  margin-top: 40px;
  max-width: 600px;
  line-height: 25px;
  font-weight: 300;
}
.banner-main-video {
  width: 270px;
  height: 480px;
  background-color: #d4cb92;
}

.border {
  padding-top: 150px;
  background-color: #2b2a31;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1882352941);
}

.about {
  padding-top: 80px;
  background-color: #2b2a31;
  padding-bottom: 100px;
}
.about .container {
  gap: 30px;
}
.about-item {
  flex: 1;
}
.about-item:nth-child(1) h2 {
  margin-top: 15px;
  font-size: 37px;
  font-weight: 700;
}
.about-item:nth-child(1) p {
  margin-top: 35px;
}
.about-item:nth-child(2) h3 {
  font-size: 22px;
  font-weight: 600;
}
.about-item:nth-child(2) p {
  margin: 5px 0;
}
.about-item:nth-child(2) .about-item-boder {
  width: 35px;
  height: 1px;
  background-color: #d4cb92;
  margin: 30px 0;
}
.about-item:nth-child(2) .weight {
  font-weight: 600;
}
.about-item:nth-child(2) a {
  font-weight: 600;
  font-style: italic;
  cursor: pointer;
  color: #d4cb92;
}
.about-item p {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

.product {
  padding-top: 100px;
}
.product h2 {
  margin: 25px 0;
}
.product-list {
  display: grid;
  flex-wrap: wrap;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-bottom: 80px;
}
.product-list-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding-bottom: 30px;
  position: relative;
}
.product-list-item h4 {
  padding-top: 15px;
  font-size: 25px;
  font-weight: 600;
}
.product-list-item p {
  margin: 15px;
  font-weight: 300;
}
.product-list-item img {
  display: block;
  max-width: 90%;
  margin: auto;
  z-index: 2;
}
.product-list-item-img {
  display: flex;
  margin-top: 40px;
}
.product-list-item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../asset/img/hover.png") top left;
  background-size: cover;
  opacity: 0;
  border-radius: 15px;
}
.product-list-item:hover {
  background-color: #2b2a31;
  transition: 0.25s linear;
}
.product-list-item:hover::before {
  animation: hover 1.52s linear infinite;
}
.product-list-item:hover img {
  transform: scale(110%);
  transition: 0.25s linear;
}
.product .spe {
  transform: translateY(-17px) scale(110%);
}

@keyframes hover {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.04;
  }
}
.room {
  background-color: #2b2a31;
}
.room-item {
  gap: 80px;
}
.room-item-img {
  flex: 0 0 50%;
}
.room-item-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 750px;
  background-size: cover;
}
.room-item-text {
  flex: 1;
}
.room-item-text-more {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  padding-top: 50px;
}
.room-item-text-more p {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
}
.room-item-text-more div {
  width: 55px;
  height: 1px;
  background-color: #d4cb92;
}
.room-item h1 {
  margin-top: 45px;
}
.room-item h4 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}
.room-item p {
  margin-top: 60px;
}
.room .reverse {
  flex-direction: row-reverse;
}
.room .reverse .room-item-text {
  align-items: end;
}
.room .reverse .room-item-text-more {
  align-items: start;
}
.room .reverse h1,
.room .reverse h4,
.room .reverse p {
  text-align: end;
}

.infor {
  padding-top: 80px;
  padding-bottom: 100px;
}
.infor .title-h2 {
  margin-top: 25px;
}
.infor-list {
  display: flex;
  gap: 32px;
  margin-top: 60px;
}
.infor-list-item {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.infor-list-item h3 {
  margin: 10px 0;
  font-weight: 600;
}
.infor-list-item div {
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 10px;
  display: flex;
}
.infor-list-item div img {
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}
.infor-list-item div .hide {
  display: none;
}
.infor-list-item div:hover {
  background-color: #d4cb92;
  transition: 0.25s linear;
}
.infor-list-item div:hover .hide {
  display: block;
}
.infor-list-item div:hover .init {
  display: none;
}

.slide {
  height: 600px;
  background-color: #2b2a31;
}

.footer {
  padding: 35px 0;
  position: relative;
}
.footer-item:nth-child(1) {
  gap: 32px;
}
.footer-item:nth-child(1) a:hover {
  transition: 0.25s linear;
}
.footer-item:nth-child(1) a:hover .hide {
  display: block;
  transform: scale(130%);
}
.footer-item:nth-child(1) a:hover .init {
  display: none;
}
.footer-item:nth-child(1) a .hide {
  display: none;
}
.footer-item:nth-child(1) img {
  width: 18px;
}
.footer-item:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 16px;
  cursor: pointer;
}
.footer-item:nth-child(2):hover h3 {
  color: #d4cb92;
}
.footer-item:nth-child(2) h3 {
  font-size: 28px;
  color: #fff;
}
.footer-item:nth-child(2) img {
  width: 60px;
}
.footer-item:nth-child(3) {
  font-size: 12px;
}/*# sourceMappingURL=home.css.map */